*{
    margin: 0;
    padding:0;
}



.newbie{
    display: flex;
    
    font-family: 'Josefin Sans', sans-serif;
    
}

.logo{
    margin-top: 20px;
}

.logocontent{
    background-image: url("base-apparel-coming-soon-master/images/bg-pattern-desktop.svg");
    height: fit-content;
}
.logocontent h1{
    font-size: 5rem;
    font-weight: 400;
    color:  hsl(0, 6%, 24%);
    margin-left: 50px;
    width: 50%;
}

.logocontent p{
    font-size:2rem;
    color:hsl(0, 36%, 70%);
    margin-left: 50px;
}

.picture{
   width: 50%; 
}

.picture img{
    
}

.sr{margin-left: 60px
    ;}

    ::placeholder {
        color : hsl(0, 93%, 68%);
        font-size: 2rem;
      }

      i{
          color:  hsl(0, 6%, 24%);
          width:40px;
      }

input{
    border: 3px solid hsl(0, 93%, 68%);
    padding: 5px 10px;
    border-radius: 50px;
    width: 350px;
    height:60px;
}

@media screen and (max-width: 900px){
    .newbie{display:flex;
        flex-direction: column;
        flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
.newbie{display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}